#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header {
    background-color: rgb(121, 206, 121);
    display: flex;
    height: 10vh;
    padding: 10px;
    justify-content: center;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    background-color: rgba(83, 184, 223, 0.5);
    padding: 10px;
    gap: 10px;
    height: 83vh;
    align-items: left;
    justify-content: left;
}


#footer {
    background-color: rgb(121, 206, 121);
    display: flex;
    padding: 10px;
    height: 7vh;
    justify-content: center;
    font-size: x-small;
}

#emissionsbox {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    height: 35vw;
    overflow: auto;
    border-top: 2px solid black;
}

#emissionsbox > .emissioninstance {
    display: flex;
    align-items: center;
    width: 90%;
    height: 8%;
    padding: 5px;
    justify-content: center;
    border: 2px solid black;
    margin: 3px;
}

#emissionsbox > .emissioninstance > div {
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 5px;
    flex-grow: 1;
}

#emissionscenter {
    display: flex;
    flex-direction: column;
    background-color: rgb(121, 206, 121);
    width: 25vw;
    border: 2px solid black;
    border-radius: 10px 10px 0px 10px;
    align-items: center;
}

#info {
    border: 2px solid black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#info > .row {
    display: flex;
    flex-direction: row;
    height: 50%;
    border: 2px solid black;
}

.colslot {
    flex-grow: 1;
    width: 50%;
    border: 2px solid black;
}

#speedometer {
    width: 100%;
    height: 100%;
}